<h1>Create a new Shelter</h1>

<%= form_for @shelter, url: {action: "update"} do |f| %>
  <%= label_tag(:name) %>
  <%= f.text_field :name %>
  <br>
  <%= label_tag(:address) %>
  <%= f.text_field :address %>
  <br>
  <%= label_tag(:city) %>
  <%= f.text_field :city %>
  <br>
  <%= label_tag(:state) %>
  <%= f.text_field :state %>
  <br>
  <%= label_tag(:zip) %>
  <%= f.text_field :zip %>
  <br>
  <%= f.submit "Submit Form" %>
<% end %>
