<!DOCTYPE html>
<html lang="en">
<head>
<title>shelters</title>
<style>

body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #CAFAFE;
}
h2 {background-color: #2E86C1;
    font-size: 40px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #FC4445;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Adopt Dont Shop</h1>
  <p>Bought Pets Dont Like You</p>
</div>

<h1>Update Shelter Information</h1>

<%= form_for @shelter, url: {action: "update"} do |f| %>
  <%= label_tag(:name) %>
  <%= f.text_field :name %>
  <br>
  <%= label_tag(:address) %>
  <%= f.text_field :address %>
  <br>
  <%= label_tag(:city) %>
  <%= f.text_field :city %>
  <br>
  <%= label_tag(:state) %>
  <%= f.text_field :state %>
  <br>
  <%= label_tag(:zip) %>
  <%= f.text_field :zip %>
  <br>
  <%= f.submit "Submit Form" %>
<% end %>
