<h1>All Shelters</h1>


  <h2><%= @shelter.name %></h2>
  <p> Address: <%= @shelter.address || "Not found" %></p>
  <p> City: <%= @shelter.city || "Not found" %></p>
  <p> State: <%= @shelter.state || "Not found" %></p>
  <p> Zip: <%= @shelter.zip || "Not found" %></p>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: "get" %>
