<!DOCTYPE html>
<html lang="en">
<head>
<title>shelters</title>
<style>

body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #CAFAFE;
}
h2 {background-color: #2E86C1;
    font-size: 40px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #FC4445;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Adopt Dont Shop</h1>
  <p>Bought Pets Dont Like You</p>
  <%= link_to "All shelters", "/shelters" %>
  <%= link_to "All pets", "/pets" %>
</div>

<h1>Shelter Profile</h1>


  <h3><%= @shelter.name %></h3>
  <p> Address: <%= @shelter.address || "Not found" %></p>
  <p> City: <%= @shelter.city || "Not found" %></p>
  <p> State: <%= @shelter.state || "Not found" %></p>
  <p> Zip: <%= @shelter.zip || "Not found" %></p>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: "get" %>
  <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: "delete" %>
