<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h2><%= image_tag(pet.image, id: "pet-image-#{pet.id}") %></h2>
  <h2><%= pet.name %></h2>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
  <p><%= "Shelter: #{pet.shelter.name}" %></p>
  <%= button_to "Create Pet", "/shelters/#{pet.shelter.id}/pets/new", method: "get", action: "new" %>
<% end %>
