<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h2><%= image_tag(pet.image, id: "pet-image-#{pet.id}") %></h2>
  <h2><%= link_to pet.name, "/pets/#{pet.id}" %></h2>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
  <p><%= "Shelter: " %><%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>
  <%= link_to "Update Pet", "/pets/#{pet.id}/edit", method: "get" %>
  <br>
  <br>
  <%= link_to "Delete Pet", "/shelters/#{pet.id}", method: "delete" %>
  <br>
  <br>
  <%= button_to "Create Pet", "/shelters/#{pet.shelter.id}/pets/new", method: "get", action: "new" %>
<% end %>
