<!DOCTYPE html>
<html lang="en">
<head>
<title>shelters</title>
<style>

body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #CAFAFE;
}
h2 {background-color: #2E86C1;
    font-size: 40px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #FC4445;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Adopt Dont Shop</h1>
  <p>Bought Pets Dont Like You</p>
  <%= link_to "All shelters", "/shelters" %>
  <%= link_to "All pets", "/pets" %>
</div>

<h1>Create a new Pet</h1>

<%= form_for @pet, url: {action: "create"} do |f| %>
  <%= label_tag(:image) %>
  <%= f.text_field :image %>
  <br>
  <%= label_tag(:name) %>
  <%= f.text_field :name %>
  <br>
  <%= label_tag(:description) %>
  <%= f.text_field :description %>
  <br>
  <%= label_tag(:approximate_age) %>
  <%= f.text_field :approximate_age %>
  <br>
  <%= label_tag(:sex) %>
  <%= f.text_field :sex %>
  <br>
  <%= f.submit "Create Pet" %>
<% end %>
