<h1> <%= @pet.name %></h1>

<p><%= image_tag(@pet.image, id: "pet-image-#{@pet.id}") %></p>
<p> Name: <%= @pet.name %></p>
<p> Age: <%= @pet.approximate_age %></p>
<p> Sex: <%= @pet.sex %></p>
<p> Description: <%= @pet.description %></p>
<p> <%= "Adoptable: #{@pet.adoptable}" %></p>
<p><%= "Shelter: " %><%= link_to @pet.shelter.name, "/shelters/#{@pet.shelter.id}" %></p>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit", method: "get" %>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: "delete" %>
